* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

header {
    margin: 47px 0px 0px 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 35px;
    cursor: pointer;
}

.button-sign {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    Width: 124px;
    Height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 1px;
}

.img {
    margin: 163px 0 0 123px;
    display: inline-block
}

.h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    letter-spacing: 0.596154px;

}

.p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
    width: 493px;
}

.link-learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color: #6FBF44;
    cursor: pointer;
    margin-top: 100px;
}

.text {
    display: inline-block;
    margin-left: 85px;

}

@media screen and (max-width:1600px) {

    .link-header {
        display: none;
    }

    /*.button-sign {
        float: right;
        margin-right: 15px;

    }
*/
    .h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        width: 278px;
        margin: auto;
    }

    p{
        font-size:18px;
        line-height:33px;
        text-align:center;
        letter-spacing:0.5px;
    }

    .img {
        position: absolute;
        margin: 450px 39px 23px 6px;

    }

    .text {
        position: relative;
        margin: 124px 43px 77px 43px;
        text-align: center;
    }
    header{
        margin: 17px 15px 0px 456px;
    }
}